<div class="list-group list-group-flush">
    <div class="list-group-item">
        <img class="w-100" src="{{ user.avatar }}" alt="{{ user.fullName }}" />
    </div>
    <div class="list-group-item">
        <div>{{ user.fullName }}</div>
    </div>
</div>
