<div class="d-flex justify-content-around align-items-center">
    <div>
        <a class="btn btn-secondary" href="{{ path('connect_facebook_start') }}">
            <i class="mdi mdi-facebook fs-3"></i>
        </a>
    </div>
    <div>
        <a class="btn btn-secondary" href="{{ path('connect_google_start') }}">
            <i class="mdi mdi-google fs-3"></i>
        </a>
    </div>
</div>
