parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method setController\\(\\) on mixed\\.$#"
			count: 1
			path: src/Controller/Admin/DashboardController.php

		-
			message: "#^Class App\\\\Entity\\\\Publication not found\\.$#"
			count: 1
			path: src/Controller/Admin/DashboardController.php

		-
			message: "#^Class App\\\\Entity\\\\Publication not found\\.$#"
			count: 1
			path: src/Controller/Admin/PublicationCrudController.php

		-
			message: "#^Cannot access offset 'mid' on mixed\\.$#"
			count: 1
			path: src/Controller/AssetController.php

		-
			message: "#^Cannot access offset 'to' on mixed\\.$#"
			count: 1
			path: src/Controller/AssetController.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 1
			path: src/Controller/AssetController.php

		-
			message: "#^Cannot call method getEncoded\\(\\) on string\\.$#"
			count: 1
			path: src/Controller/AssetController.php

		-
			message: "#^Cannot call method getHeight\\(\\) on string\\.$#"
			count: 1
			path: src/Controller/AssetController.php

		-
			message: "#^Cannot call method getWidth\\(\\) on string\\.$#"
			count: 1
			path: src/Controller/AssetController.php

		-
			message: "#^Parameter \\$address of method App\\\\Repository\\\\AssetRepository\\:\\:findBySearch\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Controller/AssetController.php

		-
			message: "#^Parameter \\$agencyFee of method App\\\\Repository\\\\AssetRepository\\:\\:findBySearch\\(\\) expects int\\|null, mixed given\\.$#"
			count: 1
			path: src/Controller/AssetController.php

		-
			message: "#^Parameter \\$floor of method App\\\\Repository\\\\AssetRepository\\:\\:findBySearch\\(\\) expects int\\|null, mixed given\\.$#"
			count: 1
			path: src/Controller/AssetController.php

		-
			message: "#^Parameter \\$from of method App\\\\Service\\\\ExchangeRateService\\\\ExchangeRateService\\:\\:exchange\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Controller/AssetController.php

		-
			message: "#^Parameter \\$maxPrice of method App\\\\Repository\\\\AssetRepository\\:\\:findBySearch\\(\\) expects float\\|null, mixed given\\.$#"
			count: 1
			path: src/Controller/AssetController.php

		-
			message: "#^Parameter \\$maxSqm of method App\\\\Repository\\\\AssetRepository\\:\\:findBySearch\\(\\) expects float\\|null, mixed given\\.$#"
			count: 1
			path: src/Controller/AssetController.php

		-
			message: "#^Parameter \\$minPrice of method App\\\\Repository\\\\AssetRepository\\:\\:findBySearch\\(\\) expects float\\|null, mixed given\\.$#"
			count: 1
			path: src/Controller/AssetController.php

		-
			message: "#^Parameter \\$minSqm of method App\\\\Repository\\\\AssetRepository\\:\\:findBySearch\\(\\) expects float\\|null, mixed given\\.$#"
			count: 1
			path: src/Controller/AssetController.php

		-
			message: "#^Parameter \\$term of method App\\\\Repository\\\\AssetRepository\\:\\:findBySearch\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Controller/AssetController.php

		-
			message: "#^Parameter \\$title of method App\\\\Repository\\\\AssetRepository\\:\\:findBySearch\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Controller/AssetController.php

		-
			message: "#^Parameter \\$types of method App\\\\Repository\\\\AssetRepository\\:\\:findBySearch\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: src/Controller/AssetController.php

		-
			message: "#^Parameter \\$userType of method App\\\\Repository\\\\AssetRepository\\:\\:findBySearch\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Controller/AssetController.php

		-
			message: "#^Cannot access offset 'mid' on mixed\\.$#"
			count: 1
			path: src/Controller/BidController.php

		-
			message: "#^Cannot access offset 'to' on mixed\\.$#"
			count: 1
			path: src/Controller/BidController.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 1
			path: src/Controller/BidController.php

		-
			message: "#^Cannot call method getBid\\(\\) on App\\\\Entity\\\\Tender\\|null\\.$#"
			count: 4
			path: src/Controller/BidController.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/Controller/BidController.php

		-
			message: "#^Parameter \\#1 \\$currency of method App\\\\Entity\\\\Bid\\:\\:setCurrency\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Controller/BidController.php

		-
			message: "#^Parameter \\#1 \\$number of method App\\\\Controller\\\\BidController\\:\\:addPercentageToNumber\\(\\) expects string, string\\|null given\\.$#"
			count: 4
			path: src/Controller/BidController.php

		-
			message: "#^Parameter \\#2 \\$tender of method App\\\\Controller\\\\BidController\\:\\:resolveTenderBidSuggestion\\(\\) expects App\\\\Entity\\\\Tender, App\\\\Entity\\\\Tender\\|null given\\.$#"
			count: 1
			path: src/Controller/BidController.php

		-
			message: "#^Parameter \\$from of method App\\\\Service\\\\ExchangeRateService\\\\ExchangeRateService\\:\\:exchange\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Controller/BidController.php

		-
			message: "#^Parameter \\#2 \\$owner of method App\\\\Factory\\\\BookmarkFactory\\:\\:create\\(\\) expects App\\\\Entity\\\\User\\|null, Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\|null given\\.$#"
			count: 1
			path: src/Controller/BookmarkController.php

		-
			message: "#^Parameter \\#1 \\$user of method App\\\\Entity\\\\Conversation\\:\\:addUser\\(\\) expects App\\\\Entity\\\\User, Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\|null given\\.$#"
			count: 1
			path: src/Controller/ConversationController.php

		-
			message: "#^Parameter \\$keyword of method App\\\\Repository\\\\ConversationRepository\\:\\:findByUserAndKeyword\\(\\) expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/Controller/ConversationController.php

		-
			message: "#^Parameter \\$user of method App\\\\Repository\\\\ConversationRepository\\:\\:findByUserAndKeyword\\(\\) expects App\\\\Entity\\\\User, Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\|null given\\.$#"
			count: 2
			path: src/Controller/ConversationController.php

		-
			message: "#^Cannot access property \\$type on mixed\\.$#"
			count: 1
			path: src/Controller/ReactionController.php

		-
			message: "#^Method App\\\\Controller\\\\ReactionController\\:\\:assetAlreadyHasUserReaction\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Controller/ReactionController.php

		-
			message: "#^Parameter \\#2 \\$owner of method App\\\\Factory\\\\ReactionFactory\\:\\:create\\(\\) expects App\\\\Entity\\\\User\\|null, Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\|null given\\.$#"
			count: 1
			path: src/Controller/ReactionController.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\:\\:getEmail\\(\\)\\.$#"
			count: 1
			path: src/Controller/RegistrationController.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\:\\:getToken\\(\\)\\.$#"
			count: 1
			path: src/Controller/RegistrationController.php

		-
			message: "#^Match expression does not handle remaining value\\: mixed$#"
			count: 1
			path: src/Controller/RegistrationController.php

		-
			message: "#^Method App\\\\Controller\\\\RegistrationController\\:\\:createUserAccount\\(\\) is unused\\.$#"
			count: 1
			path: src/Controller/RegistrationController.php

		-
			message: "#^Method App\\\\Controller\\\\RegistrationController\\:\\:sendUserConfirmationEmail\\(\\) is unused\\.$#"
			count: 1
			path: src/Controller/RegistrationController.php

		-
			message: "#^Parameter \\#1 \\$user of method Symfony\\\\Component\\\\Security\\\\Http\\\\Authentication\\\\UserAuthenticatorInterface\\:\\:authenticateUser\\(\\) expects Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface, null given\\.$#"
			count: 1
			path: src/Controller/RegistrationController.php

		-
			message: "#^Property App\\\\Controller\\\\RegistrationController\\:\\:\\$avatarService is never read, only written\\.$#"
			count: 1
			path: src/Controller/RegistrationController.php

		-
			message: "#^Property App\\\\Controller\\\\RegistrationController\\:\\:\\$userPasswordHasher is never read, only written\\.$#"
			count: 1
			path: src/Controller/RegistrationController.php

		-
			message: "#^Variable \\$user might not be defined\\.$#"
			count: 1
			path: src/Controller/RegistrationController.php

		-
			message: "#^Call to an undefined method App\\\\Entity\\\\Tender\\:\\:isActive\\(\\)\\.$#"
			count: 1
			path: src/Controller/TenderController.php

		-
			message: "#^Cannot call method toDateTimeImmutable\\(\\) on Carbon\\\\Carbon\\|false\\.$#"
			count: 2
			path: src/Controller/TenderController.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 2
			path: src/Controller/TenderController.php

		-
			message: "#^Property App\\\\Controller\\\\TenderController\\:\\:\\$hub is never read, only written\\.$#"
			count: 1
			path: src/Controller/TenderController.php

		-
			message: "#^Call to method setCurrency\\(\\) on an unknown class App\\\\Entity\\\\ExchangeRate\\.$#"
			count: 1
			path: src/Factory/ExchangeRateFactory.php

		-
			message: "#^Call to method setRate\\(\\) on an unknown class App\\\\Entity\\\\ExchangeRate\\.$#"
			count: 1
			path: src/Factory/ExchangeRateFactory.php

		-
			message: "#^Instantiated class App\\\\Entity\\\\ExchangeRate not found\\.$#"
			count: 1
			path: src/Factory/ExchangeRateFactory.php

		-
			message: "#^Method App\\\\Factory\\\\ExchangeRateFactory\\:\\:create\\(\\) has invalid return type App\\\\Entity\\\\ExchangeRate\\.$#"
			count: 1
			path: src/Factory/ExchangeRateFactory.php

		-
			message: "#^Call to method getStartsAt\\(\\) on an unknown class App\\\\Entity\\\\Publication\\.$#"
			count: 1
			path: src/Factory/PublicationFactory.php

		-
			message: "#^Call to method setAsset\\(\\) on an unknown class App\\\\Entity\\\\Publication\\.$#"
			count: 1
			path: src/Factory/PublicationFactory.php

		-
			message: "#^Call to method setEndsAt\\(\\) on an unknown class App\\\\Entity\\\\Publication\\.$#"
			count: 1
			path: src/Factory/PublicationFactory.php

		-
			message: "#^Call to method setIsApproved\\(\\) on an unknown class App\\\\Entity\\\\Publication\\.$#"
			count: 1
			path: src/Factory/PublicationFactory.php

		-
			message: "#^Call to method setStartsAt\\(\\) on an unknown class App\\\\Entity\\\\Publication\\.$#"
			count: 1
			path: src/Factory/PublicationFactory.php

		-
			message: "#^Instantiated class App\\\\Entity\\\\Publication not found\\.$#"
			count: 1
			path: src/Factory/PublicationFactory.php

		-
			message: "#^Method App\\\\Factory\\\\PublicationFactory\\:\\:create\\(\\) has invalid return type App\\\\Entity\\\\Publication\\.$#"
			count: 1
			path: src/Factory/PublicationFactory.php

		-
			message: "#^Parameter \\$publication of method App\\\\Factory\\\\PublicationFactory\\:\\:calculateEndDate\\(\\) has invalid type App\\\\Entity\\\\Publication\\.$#"
			count: 1
			path: src/Factory/PublicationFactory.php

		-
			message: "#^Parameter \\#1 \\$email of method App\\\\Entity\\\\User\\:\\:setEmail\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Factory/UserFactory.php

		-
			message: "#^Parameter \\#1 \\$firstName of method App\\\\Entity\\\\User\\:\\:setFirstName\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Factory/UserFactory.php

		-
			message: "#^Parameter \\#1 \\$hashString of method App\\\\Service\\\\AvatarService\\:\\:createAvatar\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Factory/UserFactory.php

		-
			message: "#^Parameter \\#1 \\$lastName of method App\\\\Entity\\\\User\\:\\:setLastName\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Factory/UserFactory.php

		-
			message: "#^Method App\\\\Factory\\\\UserFactory\\:\\:create\\(\\) invoked with 4 parameters, 3 required\\.$#"
			count: 1
			path: tests/Unit/Factory/UserFactoryTest.php
