{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center g-0 mt-3">
            <div class="col-md-4 d-none d-sm-block">
                <img class="shadow img-fluid object-fit-cover h-100 rounded-start" alt="register"
                     src="{{ asset('images/register.jpg') }}">
            </div>
            <div class="col-md-4">
                <div class="card shadow h-100">
                    <div class="card-body">
                        {{ include('registration/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
