{% extends 'base.html.twig' %}

{% block title %}New Asset{% endblock %}

{% block body %}
    <div class="container">
        <turbo-frame id="dashboard">
            <div class="row justify-content-center mt-3">
                <div class="col-md-8">

                    <div class="card shadow">
                        <div class="card-body">
                            <h1>{{ 'advertise-your-property'|trans }}</h1>
                            {{ include('asset/_form.html.twig') }}
                        </div>
                    </div>

                </div>
            </div>
        </turbo-frame>
    </div>
{% endblock %}
