{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                {{ include('/user/_account-menu.html.twig') }}
            </div>
            <div class="col-md-4">
                ASSET!!
            </div>
            <div class="col-md-8">
                GRAPH
            </div>
        </div>
    </div>
{% endblock %}



