{% if app.user %}
    <div {{ stimulus_controller('bookmark-btn', {
        path: path('add_bookmark', { id: asset.id })
    }) }}>
        <div class="btn btn-secondary">
            {% if asset.isBookmarkedByUser(app.user) %}
                <span class="mdi mdi-bookmark fs-4"></span>
            {% else %}
                <span class="mdi mdi-bookmark-outline fs-4"></span>
            {% endif %}
        </div>
    </div>
{% endif %}
