@import "./variables";
@import "~bootstrap";
@import "~bootstrap-icons";
@import "~@mdi/font";
@import '@kanety/stimulus-multi-select';

.tiny{
  font-size: 9px;
}

.min-vh-10{
  min-height: 10vh;
}

.resize-none{
  resize: none;
}

.object-fit-cover{
  object-fit: cover;
}
.fade-background{
  transition: color 300ms;
}

.hoverable:hover{
  cursor: pointer;
}

.grid-sizer,
.grid-item { width: 50%; }
/* 2 columns */
.grid-item--width2 { width: 50%; }

.custom-link{
  text-decoration: none;
}
.custom-link:hover {
  text-decoration: underline;
}


.card-btn-sm{
  text-decoration: none;
  color: #0f172a;
  padding: 0 5px;
  margin: 0 2px;
}

.card-btn-sm:hover{
  //background-color: $gray-300;
  cursor: pointer;
}

.xtra-small {
  font-size: 10px !important;
}

.asset-new-badge{
  position: absolute;
  top: 0;
  right: 5px;
  transform: translateY(-50%) !important;
  font-size: 11px;
  line-height: 1;
}

.asset-card-agent-logo{
  position: absolute;
  top: 5px;
  left: 5px;
}

.preview-img {
  display: block;
  object-fit: cover;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 250px !important;
}

.avatars {
  display: flex;
  list-style-type: none;
  margin: auto;
  padding: 0;
  flex-direction: row;

  &__item {
    border-radius: 100%;
    color: #ffffff;
    display: block;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 100;
    height: 45px;
    width: 45px;
    object-fit: cover;
    line-height: 45px;
    text-align: center;
    transition: margin 0.1s ease-in-out;
    overflow: hidden;
    margin-left: -20px;
    z-index: 0;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .045) !important;
    //border: 5px solid $white;
  }

  .avatars__item:hover {
    //border: 5px solid $white;
    z-index: 5;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
  }
}

.avatars__item:first-child {
  margin-left: 0 !important;
}

body {
  background-color: rgba(0, 0, 0, 0.04);
}

.bg-grey {
  background-color: #f5f5f5 !important;
}

.hidden {
  display: none;
}

.card {
  border: none !important;
}

.btn-secondary:hover {
  background-color: #f5f5f5;
}

.img-loading-placeholder {
  height: 250px !important;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125)
}

.conversation-list {
  height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.messages {
  height: 50vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  z-index: 10;
}

.custom-popover {
  background: #fff;
  float: left;
  width: 300px;
  display: none;
  position: absolute;
  z-index: 9000;
  padding: 10px;
}

.participant-item .remove-participant {
  display: none;
  position: absolute;
  align-items: center;
  left: 0;
  top: 0;
  bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  color: white;
}

.min-vh-50 {
  min-height: 50vh !important;
}

.participant-item:hover .remove-participant {
  display: flex;
}

#map {
  height: 50vh;
}

.z-index-10{
  z-index: 10;
}

.z-index-50{
  z-index: 500;
}

.residewise-marker {
  height: 10px;
  width: 10px;
  background-color: #000000;
  border-radius: 50%;
}

.bg-dark-grey{
  background-color: #607d8b;
}

.letter-spacing-1{
  letter-spacing: 1px!important;
}

.grid-item { width: 300px; }
.grid-item--width2 { width: 600px; }

.bg-mustard{
  background: #cca92c;
}

.pulse {
  cursor: pointer;
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(0,0,0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
    box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(0,0,0,  0);
    box-shadow: 0 0 0 10px rgba(0,0,0,  0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,  0);
    box-shadow: 0 0 0 0 rgba(0,0,0, 0);
  }
}


.btn-icon{
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 50%;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@import "./bootswatch";