<turbo-frame id="bid-form">
    <hr/>
{{ form_start(bidForm, {action: path('_new_bid', {id: asset.id}) }) }}
    {{ form_widget(bidForm.price) }}
    <button type="submit" class="btn btn-primary w-100">
        {{ 'bid'|trans }}
    </button>
{{ form_end(bidForm) }}
</turbo-frame>
