<!DOCTYPE html>
<html>
<head>
    {% block metas %}
        <meta charset="UTF-8">
    {% endblock %}
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="alert alert-info m-0 border-0 text-center" role="alert">
    This is a beta release. some features may not work as expected.
</div>
{{ include('_navbar.html.twig') }}
{% block body %}{% endblock %}
</body>
</html>
