{{ form_start(messageForm, {
    attr: {
        'data-controller' : 'form-enter-submit'
    }
}) }}
<div class="position-relative">
    {{ form_widget(messageForm.content) }}
    <button class="btn btn-primary rounded position-absolute" style="bottom:5px;right:5px" type="submit">
        <i class="bi bi-send fs-3"></i>
    </button>
</div>
{{ form_end(messageForm) }}
