<div class="ps-3 d-flex justify-content-between border-bottom align-items-center">
    <div>
        <div>{{ conversation.title }}</div>
    </div>
    <div>
        <div class="dropdown">
            <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="mdi mdi-dots-vertical fs-3"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>
