{{ form_start(conversationForm) }}
<div class="card-body">
    {{ form_row(conversationForm.people) }}
    <button type="submit" class="btn btn-primary w-100">
        {{ 'save'|trans }}
    </button>
</div>
{{ form_end(conversationForm) }}
