{{ form_start(conversationForm, {'action' : path|default(path('conversation_new')) }) }}
<div class="card-body">
    {{ form_row(conversationForm.users) }}
    <button type="submit" class="btn btn-primary w-100">
        {{ 'create'|trans }}
    </button>
</div>
{{ form_end(conversationForm) }}
