<turbo-frame id="active_conversation">
    <div class="card shadow-sm">
        <div class="messages" id="conversation-{{ conversation.id }}" {{ turbo_stream_listen('chat') }}>
            {{ include('/conversation/message/message.stream.html.twig', {
                'conversation' : conversation
            }) }}
        </div>
        {{ include('conversation/message/_form.html.twig') }}
    </div>
</turbo-frame>
